:root {
	--black: #1b1d1e;
	--white: #f8f9fa;
}

body,
html {
	overflow-x: hidden;
}

html {
	background-color: var(--white);
	color: var(--black);
}

body {
	background-color: var(--white);
	color: var(--black);
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--black);
		color: var(--white);
	}

	html {
		background-color: var(--black);
		color: var(--white);
	}

	.btn-outlined {
		border: 0.08rem solid var(--white);
		color: var(--white);
	}

	@media (hover: hover) {
		.btn-outlined:hover {
			background-color: var(--black);
			color: var(--white);
		}

		.services .card p:active {
			color: var(--white);
			background-color: var(--black);
		}
	}

	@media (hover: none) {
		.btn-outlined:active {
			background-color: var(--black);
			color: var(--white);
		}

		.btn-filled:active {
			background: none;
			color: var(--black);
		}

		.services .card p:active {
			color: var(--white);
			background-color: var(--black);
		}
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	transition: all 0.2s ease-out;
	scroll-behavior: smooth;

	/* manrope - основной импортированный шрифт */
	font-family: 'Manrope', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: inherit;
	font-size: inherit;
	color: var(--black);
}

a {
	text-decoration: none;
}

button {
	border: none;
	background: none;
	cursor: pointer;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.75rem;
}

ul {
	list-style-type: none;
}

.bold {
	font-weight: 600;
}

[class^='btn'] {
	padding: 1rem 2rem;
	width: fit-content;

	display: block;

	border-radius: 4rem;
	font-weight: 600;
}

[class^='btn']:active {
	outline: 0.2rem solid rgba(1, 11, 19, 0.2);
}

.btn-filled {
	border: 0.08rem solid var(--black);
	background-color: var(--black);
	color: var(--white);
}

.btn-outlined {
	border: 0.08rem solid var(--black);
}

.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.card {
	flex: 1 1 0;
	min-width: 19.75rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.card p {
	width: 100%;

	text-align: center;
	font-size: 1.25rem;

	cursor: pointer;
}

.card .img {
	width: 100%;
	height: 15rem;

	position: relative;
}

/* preview */
.card .img img {
	width: 100%;
	height: 100%;

	border-radius: 1rem;

	position: absolute;
	top: 0;
	right: 0;
	object-fit: cover;
}

.header-location {
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.header-location img {
	width: 1rem;
	height: 1rem;
}

header {
	background-color: var(--black);
}

header * {
	color: var(--white);
}

header a[href='#about'] {
	padding: 0.75rem 1.5rem;
	width: fit-content;

	display: block;

	border: 0.08rem solid var(--white);
	border-radius: 4rem;
}

.desktop-header {
	padding: 1rem 4rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.desktop-header ul {
	display: flex;
	gap: 4rem;
}

.m-header {
	display: none;
}

/* animated underline */

.desktop-header nav a {
	position: relative;
}

.desktop-header a::after {
	width: 100%;

	transform: scaleX(0);
	height: 0.08rem;
	bottom: -0.2rem;
	left: 0;
	background-color: var(--white);

	position: absolute;
	content: '';
}

.summary {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.summary .text {
	padding: 8rem;

	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.get-in-touch {
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;

	background-image: url('../assets/map.svg');
	background-size: cover;
}

.get-in-touch ul {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.get-in-touch .copy {
	padding: 1rem 0;

	display: flex;
	align-items: center;
	gap: 1.25rem;

	border-bottom: 0.08rem solid var(--black);
	font-size: 1.5rem;
	cursor: pointer;
}

.get-in-touch .copy img {
	width: 1.5rem;
	height: 1.5rem;
}

main > section:not(.summary) {
	padding: 8rem;

	display: flex;
	flex-direction: column;
	gap: 4rem;
}

main > section:not(.summary) .intro {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

/* arrow */
.services .card > img {
	width: 1.5rem;
	height: 1.5rem;
}

.about {
	background-color: var(--black);
}

.about .intro * {
	color: var(--white);
}

.about ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.about ul > * {
	padding: 1rem 2rem;
	flex: 1 1 0;

	display: flex;
	align-items: center;
	gap: 2rem;

	border-radius: 4rem;
	background-color: var(--white);
}

.about ul img {
	width: 2rem;
	height: 2rem;
}

.why-us .reasons {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.why-us .reason {
	padding: 2rem;
	flex: 1 1 0;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 3rem;

	border-radius: 1rem;
}

.why-us .reason img {
	width: 1rem;
	height: 1rem;
}

.why-us .reason .heading {
	margin-bottom: 0.5rem;

	font-weight: 600;
	font-size: 1.25rem;
}

.why-us .reason:first-child {
	background-color: #eee9f0;
}

.why-us .reason:nth-child(2) {
	background-color: #e7ebef;
}

.why-us .reason:last-child {
	background-color: #e9eff0;
}

.process {
	background-color: #f3f7f3;
}

.process img:last-of-type {
	display: none;
}

#get-in-touch .intro {
	gap: 0;
}

#get-in-touch .intro p {
	color: #798182;
}

footer {
	padding: 4rem 8rem;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	gap: 4rem;

	background-color: var(--black);
}

footer > * {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

footer * {
	color: var(--white);
}

footer .logo img {
	width: 8.563rem;
	height: 1.563rem;
}

footer .contact {
	display: flex;
	gap: 0.5rem;
}

footer .contact img {
	width: 1rem;
	height: 1rem;
}

footer .legal {
	opacity: 0.5;
}

.rights {
	padding: 1rem 4rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	font-size: 0.75rem;
}

.rights * {
	font-size: 0.75rem;
}

.rights a:last-child {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.rights img {
	width: 0.75rem;
	height: 0.75rem;
}

@media (hover: hover) {
	header a[href='#about']:hover {
		background-color: var(--white);
		color: var(--black);
	}

	.btn-outlined:hover {
		background-color: var(--black);
		color: var(--white);
	}

	.btn-filled:hover {
		background: none;
		color: var(--black);
	}

	.services .card p:hover {
		color: var(--black);
		background-color: var(--white);
	}

	.get-in-touch .copy img:hover {
		width: 1.6rem;
		height: 1.6rem;
	}

	.desktop-header a:hover::after {
		transform: scaleX(1);
		transition: transform 0.25s ease-out;
		transform-origin: center;
	}
}

@media (hover: none) {
	header a[href='#about']:active {
		background-color: var(--white);
		color: var(--black);
	}

	.btn-outlined:active {
		background-color: var(--black);
		color: var(--white);
	}

	.btn-filled:active {
		background: none;
		color: var(--black);
	}

	.services .card p:active {
		color: var(--black);
		background-color: var(--white);
	}

	.get-in-touch .copy img:active {
		width: 1.6rem;
		height: 1.6rem;
	}

	.desktop-header a:active::after {
		transform: scaleX(1);
		transition: transform 0.25s ease-out;
		transform-origin: center;
	}
}
