@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
	--black: #010b13;
	--white: #fdfdff;
	--main-color: #f1f6f1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	transition: all 0.2s;

	/* manrope основной импортированный шрифт */
	font-family: 'Manrope', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: inherit;
	font-size: inherit;
	color: var(--black);
}

button {
	background: none;
	border: none;

	cursor: pointer;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.75rem;
	text-transform: capitalize;
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.btn {
	padding: 1rem 2rem;
	font-weight: 600;

	border-radius: 4rem;
	border: 0.063rem solid var(--black);
}

button.btn:hover,
a.btn:hover {
	background-color: var(--black);
	color: var(--white);
	font-weight: initial;
}

button.btn:active,
a.btn:active {
	font-weight: 600;
	background: none;
	color: var(--black);

	outline: 0.2rem solid #798182;
}

body {
	background-color: var(--white);
	user-select: none;
}

body > section:first-child {
	padding: 1rem 4rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

body > section:first-child > section:first-child {
	display: flex;
	align-items: center;
	gap: 2rem;
}

body > section:first-child .start-contact {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

body > section:first-child .start-contact img {
	width: 1rem;
	height: 1rem;
}

.summary {
	height: 37.5rem;

	display: flex;
	flex-direction: column;
	gap: 4rem;

	background: linear-gradient(
		to bottom,
		rgba(253, 253, 255, 0.6),
		rgba(253, 253, 255, 0.7),
		transparent
	);

	position: relative;
	overflow: hidden;
}

.summary-bg-video,
.fallback-image {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

header {
	padding: 1rem 4rem;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;
}

header img {
	width: initial;
	height: initial;
}

header ul {
	list-style-type: none;

	display: flex;
	gap: 4rem;
}

header button {
	padding: 0.75rem 1.5rem !important;
}

#mobile-header {
	display: none;
}

.summary .text-margin {
	margin: 0 8rem;

	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.summary .heading {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.summary .text-margin a {
	padding: 1rem 2rem;
	width: fit-content;

	background-color: var(--white);
	border-radius: 4rem;
	box-shadow: 0.25rem 0.25rem 1rem rgba(1, 11, 19, 0.25);
}

.summary .text-margin a:hover {
	font-size: 1.1rem;
}

.company,
.why-us,
.services,
.process,
.contact {
	padding: 8rem;

	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.company {
	background-color: var(--main-color);
}

.company .intro h2,
.why-us .intro h2,
.services .intro h2,
.process .intro h2 {
	margin-bottom: 1.25rem;
}

.company .legal ul {
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.company .legal li p:first-child {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.company .more ul {
	list-style-type: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.company .more li {
	max-width: 20.5rem;

	display: flex;
	align-items: center;
	gap: 1rem;

	font-weight: 400;
}

.company .more img {
	width: 1.25rem;
	height: 1.25rem;
}

.why-us {
	border-bottom: 0.063rem solid rgba(1, 11, 19, 0.1);
}

.why-us .reasons {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.why-us img {
	width: 1.25rem;
	height: 1.25rem;
}

.why-us .reason {
	padding: 1.5rem;
	width: 100%;
	max-width: 24.8rem;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 3rem;

	border-radius: 1rem;
}

.why-us .reason p:first-child {
	margin-bottom: 0.5rem;
}

.why-us .reason:first-child {
	background-color: #eceef2;
}

.why-us .reason:nth-child(2) {
	background-color: var(--main-color);
}

.why-us .reason:last-child {
	background-color: #f1f1f1;
}

.services .intro a {
	text-decoration: 0.063rem underline;
	text-underline-offset: 0.2rem;
}

.services ul {
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
}

.services .service {
	padding: 2rem;
	max-width: 23rem;
	height: 27.5rem;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1rem;
}

.services .service * {
	color: var(--white);
}

.services .service a {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.services .service img {
	width: 1rem;
	height: 1rem;
}

.services li {
	border-radius: 1.25rem;
	overflow: hidden;

	background-size: cover;
}

.services li .service {
	background: linear-gradient(to top, rgba(1, 11, 19, 0.45), transparent);
}

.services .forwarding {
	background-image: url('../assets/trucks/forwarding.webp');
}

.services .oversize {
	background-image: url('../assets/trucks/oversize-transportation.webp');
}

.services .eurofreight {
	background-image: url('../assets/trucks/eurofreight-truck.webp');
}

.process {
	background-color: var(--main-color);
}

.process img:last-of-type {
	display: none;
}

.contact .intro p {
	color: #798182;
}

.contact ul {
	height: 40.75rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	list-style-type: none;

	background-image: url('../assets/map.svg');
	background-size: cover;
}

.contact ul * {
	display: block;
	width: fit-content;
}

.contact ul .text-by-mailru {
	padding: 1rem 2rem;

	border-radius: 4rem;
	background-color: var(--black);
	color: var(--white);
}

.contact ul .text-by-mailru:hover {
	outline: 0.2rem solid #798182;
}

.contact ul .el {
	padding: 0 0 1rem 0;

	display: flex;
	gap: 1rem;

	font-size: 1.25rem;
	border-bottom: 0.063rem solid var(--black);
}

.contact img {
	width: 1.25rem;
	height: 1.25rem;
}

.contact img:hover {
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
}

#email-to-copy {
	cursor: pointer;
}

footer {
	padding: 4rem 8rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 4rem;

	background-color: var(--black);
}

footer * {
	color: var(--white);
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.footer-contact {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.footer-contact img {
	width: 1rem;
	height: 1rem;
}

.info {
	padding: 1rem 4rem;

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;

	font-size: 0.75rem;
}

.info a {
	text-decoration: underline;
	text-underline-offset: 0.2rem;
}

.info a:last-child {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.info img {
	width: 1rem;
	height: 1rem;
}
