@media (max-width: 900px) {
	#other ul {
		grid-template-columns: 1fr;
	}

	#time ul {
		flex-wrap: wrap;
	}

	#time ul,
	#other ul {
		gap: 8rem;
	}
}

@media (max-width: 700px) {
	#greet {
		height: 90vh;
		height: 90lvh;
	}

	#greet .hid-img {
		position: absolute;
		bottom: 10%;
	}

	#greet .hid-img * {
		width: 2rem;
		height: 2rem;

		display: block;
		opacity: 0.6;
		animation: moveUpDown 2s infinite alternate;
	}
}

@media (max-width: 600px) {
	.logo {
		height: 2rem !important;
	}

	#services .cards,
	#services .text {
		grid-template-columns: 1fr;
	}

	#how .carousel {
		height: 36rem;
	}

	#how .carousel-button {
		height: min-content;
		top: 32rem;
	}

	#how .slide .inner {
		padding: 1rem 2rem;
	}

	#how .h1 {
		font-size: 1.1rem;
	}

	#contact-form,
	#contact-form .group {
		gap: 1rem;
	}

	#who .somaks {
		align-items: flex-start;
		flex-direction: column;
	}

	#who p.h3,
	#who p.h2 {
		font-size: 14px;
	}

	footer,
	footer > div:first-of-type,
	footer > div:last-of-type {
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
}

@media (max-width: 365px) {
	#services .card {
		height: 20rem;
	}

	main > section:not(#greet) {
		margin: 0 1rem !important;
		padding: 0 !important;
	}

	#who #numbers,
	#who #emails {
		padding: 2rem 1rem;
	}
}
