@media screen and (max-width: 500px) {
	.logo {
		height: 2rem !important;
	}

	#how .carousel {
		height: 36rem;
	}

	#how .carousel-button {
		height: min-content;
		top: 32rem;
	}

	#how .slide .inner {
		padding: 1rem 2rem;
	}

	#how .h1 {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 680px) {
	#greet {
		height: 90vh;
		height: 90lvh;
	}

	#greet .hid-img {
		position: absolute;
		bottom: 10%;
	}

	#greet .hid-img * {
		width: 2rem;
		height: 2rem;

		display: block;
		opacity: 0.6;
		animation: moveUpDown 2s infinite alternate;
	}
}

@media screen and (max-width: 280px) {
	#greet {
		height: 100vh;
		height: 100lvh;
	}
}

@media screen and (max-width: 1170px) {
	#services .cards {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 880px) {
	#services .cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 600px) {
	#services .cards,
	#services .text {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 330px) {
	#services .card {
		height: 20rem;
	}
}

@media screen and (max-width: 800px) {
	#other ul {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 800px) {
	#time ul,
	#other ul {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 400px) {
	#who .somaks {
		align-items: flex-start;
		flex-direction: column;
	}
}

@media screen and (max-width: 800px) {
	#who {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 400px) {
	#who p.h3,
	#who p.h2 {
		font-size: 14px;
	}
}

@media screen and (max-width: 300px) {
	#who #numbers,
	#who #emails {
		padding: 1rem;
	}
}

@media screen and (max-width: 500px) {
	footer,
	footer > div:first-of-type,
	footer > div:last-of-type {
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
}
